<section>
    <div class='d-flex justify-content-around rounded align-items-center bg-light p-3'>
        <%= image_tag(@user.image, height: 150, class: 'round') %>
        <h2 class="flex-grow-3"> <%= @user.name %> </h2>
        <p> <%= @user.bio if @user.bio.present?  %> </p>
        <div>
            <%= link_to 'Edit profile',edit_user_registration_path, class:'btn btn-dark' %>
            <%= link_to 'Add post',new_user_post_path(@user.id), class:'btn btn-outline-dark' %>
        </div>
    </div>
    <hr>
    <div class="container">
    <% if @posts.empty? %>
        <p class="display-6 text-center">No post added yet</p>
    
    <% else %>

       <% @posts.each do |post| %>
        <%= link_to user_post_path(id: post.id, user_id: post.user.id), class:'link text-decoration-none text-dark' do%>
            <div class="border-bottom">
                <h2><%= post.title %></h2>
                <p class="truncated"><%= post.body %></p>
            </div>
        <% end %>
       <% end %>
    <% end %>
    </div>
</section>
